*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#containerflex{
    background-image: url("../../assets/img/BackgroundLogin.png");
    height: 100vw;
    /* background-size: 100%; */
    background-repeat: no-repeat;
}