*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
´
.textarea{
    resize: none;
}

.cabecalhoPrincipal{
    height: 110px;
    width: 100%;
    background: #3786B2;
    /* position: fixed; */
}

.cabecalhoPrincipalCont{
    display: flex;
}

.imgLogo{
    flex: 1;
    margin-left: 20px;
}

#imgLogo{
    height: 110px;
}

.imgUser{
    flex: 1;
    display: flex;
    justify-content: end;
    padding: 10px;
    align-items: center;
    margin-right: 20px;
}

#imgUser{
    height: 80px;
    margin-right: 20px;
}

.cabecalhoNav{
    flex: 3;
}

#cabecalhoNav{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

#cabecalhoNav a{
   color: whitesmoke;
   font-size: 25px;
   font-weight: 600;
}

#cabecalhoNav a:hover{
    color: lightgreen;
}